/////////////////////// VIDEO-WIDGET

/////////////////////// VARIAVEIS DE CORES VIDEO-WIDGET
@colorVideo-widget--primary: #e5ab01;
@colorVideo-widget--default:#e2edf3;
@colorVideo-widget--background:#ebf3f6;


.video-widget {
  background-color: @colorStransparente-widget--background;
  min-height: 230px;
}
.video-widget--header {
  text-align: center;
  background-color: @colorVideo-widget--primary;
  color: #fff;
  margin: 0;
  font-size: @header3;
  font-weight: normal;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
    a {
      color:#fff;
      &:hover {
        color: red;
      }
    }
  z-index: 999;
}
.video-widget--caption {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left:10px;
  padding-right:10px;
  color: #666;
  text-align: center;
  img {
    display: inline;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  iframe {
    margin-top: -10px;
    margin-bottom: 10px;
  }
  p {
    text-align: left;
  }
}
.video-widget-embed {
  margin-top: -5px;
  margin-bottom: 10px;
}
