extends ../node_modules/design.shell/app/layout
block navglobal
  include jade/navglobal
block portaltopo
  include jade/portaltopo
block content
  include jade/content
block footer
  include jade/footer
block scripts
  include jade/scripts
