extends ../node_modules/design.shell/app/layout

block stylesheets
  link(href='assets/lib/columns.css', rel='stylesheet')
  link(href='assets/lib/public.css', rel='stylesheet')
  link(href='bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='styles/main.css', rel='stylesheet')

block navglobal
  include jade/navglobal
block portaltopo
  include jade/portaltopo
block content
  include jade/content
block footer
  include jade/footer
block scripts
  include jade/scripts
