.widget.bg-lightness.spacer-widgets--lg
  .widget-head.bg-green
    | CONTEÚDO SETORIAL
  .widget--body
    ul.nav.ul-unstyled
      li: a(href='#') PRODASEN
      li: a(href='#') ILB
      li: a(href='#') CGIDOC

#carousel-widget.carousel.slide.spacer-widgets--lg(data-ride='carousel') 
  h3.carousel-widget--header COMUNICADOS
  ol.carousel-indicators.carousel-widget--indicators
    li.active(data-target='#carousel-widget', data-slide-to='0')
    li(data-target='#carousel-widget', data-slide-to='1')
    li(data-target='#carousel-widget', data-slide-to='2')
  // Wrapper for slides
  .carousel-inner.carousel-widget--inner(role='listbox')
    .item.active
      p.carousel-widget--date: small 17/03/2016, quinta-feira
      .carousel-caption.carousel-widget--caption
        a(href="#") O Serviço de Conservação e Limpeza informa que haverá nova dedetização e desratização nas dependências do Senado Federal nos próximos dias. As dedetizações ocorrem trimestralmente. A partir desta quarta-feira (16) será iniciado pelas copas, com aplicação(Leia mais...).
    .item
      p.carousel-widget--date: small 18/03/2016, quinta-feira
      .carousel-caption.carousel-widget--caption
        a(href="#") A Safin/Contab informa aos gestores de contratosque, em obediência à Instrução Normativa RFB nº 1.234/2012, os comprovantes de retenção de impostos incidentes sobre os pagamentos efetuados aos fornecedores do Senado Federal em 2015 estão disponíveis no endereço V:\SAFIN\COMPROVANTE ANUAL DE RETENÇÃO DE IR. (Saiba mais...)
    .item
      p.carousel-widget--date: small 18/03/2016, quinta-feira
      .carousel-caption.carousel-widget--caption
        a(href="#") O Prodasen dará início a um levantamento dos produtos instalados nos computadores do Senado Federal. Os objetivos são identificar os softwares instalados, conhecer sobre sua utilização e manter a regularidade de suas licenças. (Leia mais...)

  

.agenda-widget.spacer-widgets--lg
  h3.agenda-widget--header AGENDA
  .agenda-widget--caption
    .nano
      .nano-content
        ul.agenda-widget--item
          li
            a(href="#") 
              .row
                .col-md-12 
                  p: strong Pêssankas – ovos de Páscoa - tradição ucraniana no Brasil
                .col-md-4
                  strong.badge
                    .gamma 26 
                    small Qua
                .col-md-8
                  small Horário: 19h
                  br
                  small Local: Biblioteca Acadêmico Luiz Viana Filho, no Senado Federal

          li
            a(href="#") 
              .row
                .col-md-12 
                  p: strong Lúcio Costa Filho
                .col-md-4
                  strong.badge
                    .gamma 27 
                    small Qui
                .col-md-8
                  small Horário: 19h
                  br
                  small Local: Biblioteca Acadêmico Luiz Viana Filho, no Senado Federal

          li
            a(href="#") 
              .row
                .col-md-12 
                  p: strong Congresso Nacional & Família
                .col-md-4
                  strong.badge
                    .gamma 28 
                    small Sex
                .col-md-8
                  small Horário: 19h
                  br
                  small Local: Biblioteca Acadêmico Luiz Viana Filho, no Senado Federal

  .agenda-widget--footer.text-right
    a(href="#") AGENDA INSTITUCIONAL
      span.glyphicon.glyphicon-chevron-right



.Stransparente-widget.spacer-widgets--lg
  h3.Stransparente-widget--header
    a(href="#" title="Veja mais")
      img(src="img/senado-transparente.jpg" alt="Senado Transparente")
      span.pull-right.glyphicon.glyphicon-plus
  .Stransparente-widget--caption
    a(href="#"): img.img-responsive(src="img/noticias/senado-transparente2.jpg" alt="Senado Transparente")
    p Programa de Visitação do Congresso é reconhecido pelo TripAdvisor



.video-widget.spacer-widgets--lg
  h3.video-widget--header VÍDEOS
    a(href="#" title="Veja mais"): span.pull-right.glyphicon.glyphicon-plus
  .video-widget--caption
    a(href="#"): img.img-responsive(src="img/noticias/videos.jpg" alt="Senado Transparente")
    p Ligado no Senado: Conheça a Coordenação de Elaboração de Diários