.content-intranet--sf
  .container
    .row
      .col-md-9
        .row.noticias
          .col-md-8
            a(href="#")
              figure
                img.img-responsive(src="img/slide/senado1.jpg" alt="Matéria")
                figcaption
                  small 15/12/2015, 10h05
                  h1.noticias-header1: strong Senado participa de programa para a formação e a inserção de jovens no mercado de trabalho
            .row
              .col-md-6
                a(href="#")
                  figure
                    img.img-responsive(src="img/slide/senado2.jpg" alt="Matéria")
                    figcaption
                      small 15/12/2015, 9h42
                      h2.noticias-header2: strong Presentes do Papai Noel dos Correios podem ser entregues até a próxima segunda-feira
              .col-md-6
                a(href="#")
                  figure
                    img.img-responsive(src="img/slide/senado3.jpg" alt="Matéria")
                    figcaption
                      small 15/12/2015, 9h42
                      h2.noticias-header2: strong Presentes do Papai Noel dos Correios podem ser entregues até a próxima segunda-feira
          .col-md-4.CutHere.CutHere--xl
            .u-spacer--xl
              a(href="#")
                figure
                  img.img-responsive.hide(src="img/slide/senado4.jpg" alt="Matéria")
                  figcaption
                    small 15/12/2015, 9h42
                    p Presentes do Papai Noel dos Correios podem ser entregues até a próxima segunda-feira
            .u-spacer--xl
              a(href="#")
                figure
                  img.img-responsive(src="img/slide/senado4.jpg" alt="Matéria")
                  figcaption
                    small 15/12/2015, 9h42
                    p Presentes do Papai Noel dos Correios podem ser entregues até a próxima segunda-feira
            .u-spacer--xl
              a(href="#")
                figure
                  img.img-responsive.hide(src="img/materia1.gif" alt="Matéria")
                  figcaption
                    small 15/12/2015, 9h42
                    p Presentes do Papai Noel dos Correios podem ser entregues até a próxima segunda-feira
            .u-spacer--xl
              a(href="#")
                figure
                  img.img-responsive.hide(src="img/materia1.gif" alt="Matéria")
                  figcaption
                    small 15/12/2015, 9h42
                    p Presentes do Papai Noel dos Correios podem ser entregues até a próxima segunda-feira
        .divisor-dotted.spacer-content--lg
          a(href="#") MAIS NOTÍCIAS
            span.glyphicon.glyphicon-chevron-right

        include galeria-fotos
        
      .col-md-3
        include aside

    
input#toggle-menu.hidden(type="checkbox")
include sidebar-intranet--content
include sidebar-intranet--resumed
include sidebar-intranet--query
    