.content-intranet--sf
  .container
    .row
      .col-md-9
        .row.noticias
          .col-md-12.spacer-content--lg
            a(href="#"): img.img-responsive(src="img/banner.jpg" alt="Curso de Pós-Graduação em Direito Legislativo. Inscreva-se para o processo seletivo até 17/4")
          .col-md-8
            a(href="#")
              figure
                img.img-responsive(src="img/noticias/manchete.jpg" alt="Manchete")
                figcaption
                  small 18/03/2016, 10h05
                  h1.noticias-header1: strong Elisa Lucinda defende direitos da mulher em apresentação no Auditório Petrônio Portella
            .row
              .col-md-6
                a(href="#")
                  figure
                    img.img-responsive(src="img/noticias/submanchete.jpg" alt="Submanchete")
                    figcaption
                      small 18/03/2016, 9h42
                      h2.noticias-header2: strong Publicadas alterações na Matriz de Correlação de Áreas do Conhecimento de interesse do Senado
              .col-md-6
                a(href="#")
                  figure
                    img.img-responsive(src="img/noticias/submanchete2.jpg" alt="Submanchete")
                    figcaption
                      small 18/03/2016, 8h11
                      h2.noticias-header2: strong Mulheres ocupam 24,5% dos cargos de direção e chefia de assessoria no Senado
          .col-md-4.CutHere.CutHere--xl
            .u-spacer--xl
              a(href="#")
                figure
                  img.img-responsive.hide(src="img/slide/senado4.jpg" alt="Matéria")
                  figcaption
                    small 17/03/2016, 13h42
                    p SIS reembolsará exames de dengue e chicungunha para beneficiários do plano de saúde
            .u-spacer--xl
              a(href="#")
                figure
                  img.img-responsive(src="img/noticias/destaque.jpg" alt="Destaque")
                  figcaption
                    small 17/03/2016, 12h42
                    p Crepes, sanduíches, sushi e yakissoba estão entre as opções oferecidas pelos food trucks
            .u-spacer--xl
              a(href="#")
                figure
                  img.img-responsive.hide(src="img/materia1.gif" alt="Matéria")
                  figcaption
                    small 17/03/2016, 11h42
                    p ILB seleciona professor para disciplina Execução Orçamentária e Financeira pelo banco de talentos
            .u-spacer--xl
              a(href="#")
                figure
                  img.img-responsive.hide(src="img/materia1.gif" alt="Matéria")
                  figcaption
                    small 17/03/2016, 10h42
                    p Administração reforça fiscalização do uso de impressoras para evitar desperdício
        .divisor-dotted.spacer-content--lg
          a(href="#") MAIS NOTÍCIAS
            span.glyphicon.glyphicon-chevron-right

        include galeria-fotos
        
      .col-md-3
        include aside

    
input#toggle-menu.hidden(type="checkbox")
include sidebar-intranet--content
include sidebar-intranet--resumed
include sidebar-intranet--query
    