.FooterMain

    .container

        .FooterMain-row

            .FooterMain-section
                dl.FooterMain-list
                    dt Centrais de atendimento
                    dd.FooterMain-link.u-linkClean Gestao de Pessoas
                        span.pull-right 1000
                    dd.FooterMain-link.u-linkClean Prodasen
                        span.pull-right 2000
                    dd.FooterMain-link.u-linkClean Presidência
                        span.pull-right 3000
                    dd.FooterMain-link.u-linkClean DGER
                        span.pull-right 4000
                    dd.FooterMain-link.u-linkClean Brigadistas
                        span.pull-right 4222
                    dd.FooterMain-link.u-linkClean Polícias
                        span.pull-right 4444
                    dd.FooterMain-link.u-linkClean SIS
                        span.pull-right 5000
                    dd.FooterMain-link.u-linkClean Cootele
                        span.pull-right 7000
                    dd.FooterMain-link.u-linkClean Busca Ramais
                        span.pull-right 9000
                    dd.FooterMain-link.u-linkClean Lanchonete
                        span.pull-right 9090
            .FooterMain-section
                dl.FooterMain-list
                    dt Links úteis
                    dd: a.FooterMain-link.u-linkClean(href='#') Cardápios
                    dd: a.FooterMain-link.u-linkClean(href='#') Senado em Pessoa
                    dd: a.FooterMain-link.u-linkClean(href='#') Talentos e Oportunidades
                    dd: a.FooterMain-link.u-linkClean(href='#') Pagamentos e Feriados

            .FooterMain-section
                dl.FooterMain-list
                    dt Informações
                    dd: a.FooterMain-link.u-linkClean(href='#') Formulários
                    dd: a.FooterMain-link.u-linkClean(href='#') Carteira do SIS
                    dd: a.FooterMain-link.u-linkClean(href='#') Adicional de Especialização
                    dd: a.FooterMain-link.u-linkClean(href='#') Licença Capacitação


    .FooterMain-endereco
        | Senado Federal -
        | Praça dos Três Poderes - Brasília DF - CEP 70165-900
        | | Telefone: 0800 61 22 11