.galeria-fotos.spacer-content--lg
  h4.galeria-fotos--header Galeria de Imagens 
    small • Dia do servidor
  ul.pgwSlideshow
    li
      img.img-responsive(src='img/slide/senado1.jpg', alt='Nome da foto 1')
    li
      img.img-responsive(src='img/slide/senado2.jpg', alt='Nome da foto 2')
    li
      img.img-responsive(src='img/slide/senado3.jpg', alt='Nome da foto 3')
    li
      img.img-responsive(src='img/slide/senado4.jpg', alt='Nome da foto 4')
    li
      img.img-responsive(src='img/slide/senado5.jpg', alt='Nome da foto 5')
    li
      img.img-responsive(src='img/slide/senado6.jpg', alt='Nome da foto 6')
    li
      img.img-responsive(src='img/slide/senado7.jpg', alt='Nome da foto 7')
    li
      img.img-responsive(src='img/slide/senado8.jpg', alt='Nome da foto 8')
    li
      img.img-responsive(src='img/slide/senado9.jpg', alt='Nome da foto 9')
    li
      img.img-responsive(src='img/slide/senado10.jpg', alt='Nome da foto 10')
    li
      img.img-responsive(src='img/slide/senado11.jpg', alt='Nome da foto 11')
    li
      a(href='http://en.wikipedia.org/wiki/Monaco', target='_blank')
        img.img-responsive(src='img/slide/senado12.jpg', alt='Nome da foto 12')


