.NavGlobal.navbar.navbar-static-top

  .container

    .u-sizeFitAlt


    .u-sizeFit
      a(href='http://www.senado.gov.br/')
        img(src='http://www.senado.gov.br/inc/essencial/img/senado.svg', alt='Senado Federal', height=23, width=170)

    .u-sizeFill.text-right
      .hidden-xs
        a.flat(href='http://www12.senado.gov.br/institucional/falecomosenado') Sugestões para Intranet? Clique aqui.
