script(src='jquery/dist/jquery.min.js')
script(src='bootstrap/dist/js/bootstrap.min.js')
script(src='../scripts/pgwslideshow.js') 
script(src='../scripts/jquery.nanoscroller.min.js') 
script(src='../scripts/main.js')
