.sidebar-intranet--resumed.sidebar-intranet.hidden-sm.hidden-xs
  .content-topo
    label(for="toggle-menu"): spam.glyphicon.glyphicon-forward
  .content-menu
    ul.content-links
      li.add-color1
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/central-servicos.svg" alt="CENTRAL DE SERVIÇOS")
        ul.content-links--sub
          li.add-color1
            a.content-links--sublinks(href="#") CENTRAL DE SERVIÇOS ADMINISTRATIVOS
      li.add-color2
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/central-legislativa.svg" alt="CENTRAL LEGISLATIVA E PARLAMENTAR")
        ul.content-links--sub.before-color2
          li.add-color2
            a.content-links--sublinks(href="#") CENTRAL LEGISLATIVA E PARLAMENTAR
      li.add-color3
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/ferramentas.svg" alt="FERRAMENTAS")
        ul.content-links--sub.before-color3
          li.add-color3
            p.content-links--sublinks FERRAMENTAS
            ul.content-apps
              li
                a.link-styles--svg(href="#" title="BASF")
                  img(src="img/sidebar-intranet/basf.svg" alt="BASF")
              li
                a.link-styles--svg(href="#" title="Ergon")
                  img(src="img/sidebar-intranet/ergon.svg" alt="Ergon")
              li
                a.link-styles--svg(href="#" title="ForPonto")
                  img(src="img/sidebar-intranet/forponto.svg" alt="ForPonto")
              li
                a.link-styles--svg(href="#" title="SIGAD")
                  img(src="img/sidebar-intranet/sigad.svg" alt="SIGAD")

            ul.content-apps--noicons.fix-content--padding
              li
                a.link-slyes(href="#" alt="SPALM") SPALM 
              li
                a.link-slyes(href="#" alt="WEBMAIL") WEBMAIL
              li
                a.link-slyes(href="#" alt="NADM") NADM
              li
                a.link-slyes(href="#" alt="GALILEU") GALILEU
              li
                a.link-slyes(href="#" alt="ARQUIMEDES 2.0") ARQUIMEDES 2.0
              li
                a.link-slyes(href="#" alt="PORTAL DO GESTOR") PORTAL DO GESTOR
              li
                a.link-slyes(href="#" alt="CAPACITADA") CAPACITADA
              li
                a.link-slyes(href="#" alt="ERGON PRODUÇÃO") ERGON PRODUÇÃO
              li
                a.link-slyes(href="#" alt="SISTEMA GEP") SISTEMA GEP
              li
                a.link-slyes(href="#" alt="GESCON") GESCON
              li
                a.link-slyes(href="#" alt="GESTÃO DE AQUISIÇÃO") GESTÃO DE AQUISIÇÃO
              li
                a.link-slyes(href="#" alt="PLANOR") PLANOR
              li
                a.link-slyes(href="#" alt="SAES") SAES
              li
                a.link-slyes(href="#" alt="SERVIÇOS GERAIS") SERVIÇOS GERAIS
              li
                a.link-slyes(href="#" alt="SERVIÇOS POSTAIS") SERVIÇOS POSTAIS
              li
                a.link-slyes(href="#" alt="SUPRI") SUPRI


    ul.content-apps--resumed
      li
        a(href="#" title="BASF")
          img(src="img/sidebar-intranet/basf.svg" alt="BASF")
      li
        a(href="#" title="Ergon")
          img(src="img/sidebar-intranet/ergon.svg" alt="Ergon")
      li
        a(href="#" title="ForPonto")
          img(src="img/sidebar-intranet/forponto.svg" alt="ForPonto")
      li
        a(href="#" title="SIGAD")
          img(src="img/sidebar-intranet/sigad.svg" alt="SIGAD")

  .content-menu
    ul.content-links
      li.add-color4
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/interessantes.svg" alt="SERVIÇOS")
        ul.content-links--sub.before-color4
          li.add-color4.fix-content--padding
            p.content-links--sublinks SERVIÇOS
            ul.content-apps--noicons
              li
                a.link-slyes(href="#" alt="Cardápios") Cardápios 
              li
                a.link-slyes(href="#" alt="Aniversários") Aniversários
              li
                a.link-slyes(href="#" alt="Senado em Pessoa") Senado em Pessoa
              li
                a.link-slyes(href="#" alt="Talentos e Oportunidades") Talentos e Oportunidades
              li
                a.link-slyes(href="#" alt="Pagamentos e Feriados") Pagamentos e Feriados


  .content-menu
    ul.content-links
      li.add-color5
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/classificados.svg" alt="CLASSIFICADOS")
        ul.content-links--sub.before-color5
          li.add-color5.fix-content--padding
            p.content-links--sublinks CLASSIFICADOS
            ul.content-apps--noicons
              li
                a.link-slyes(href="#" alt="AUTOMÓVEIS") AUTOMÓVEIS 
              li
                a.link-slyes(href="#" alt="IMÓVEIS - ALUGUEL") IMÓVEIS - ALUGUEL
              li
                a.link-slyes(href="#" alt="ELETRÔNICOS") ELETRÔNICOS
              li
                a.link-slyes(href="#" alt="IMÓVEIS - VENDA") IMÓVEIS - VENDA
              li
                a.link-slyes(href="#" alt="TROCAS") TROCAS
              li
                a.link-slyes(href="#" alt="OUTROS") OUTROS
            .input-group
              input.form-control(type='text', name='SearchableText', autocomplete='off')
              .input-group-btn
                button.btn.btn-default(type='submit') Buscar