.sidebar-intranet--content.sidebar-intranet
  .content-topo
    label(for="toggle-menu"): spam.glyphicon.glyphicon-backward
  .nano.nano-intranet--sidebar
    .nano-content
      .content-menu
        ul.content-links
          li.add-color1
            a.link-slyes(href="#") 
              img(src="img/sidebar-intranet/central-servicos.svg" alt="CENTRAL DE SERVIÇOS")
              | CENTRAL DE SERVIÇOS ADMINISTRATIVOS
          li.add-color2
            a.link-slyes(href="#") 
              img(src="img/sidebar-intranet/central-legislativa.svg" alt="CENTRAL LEGISLATIVA E PARLAMENTAR")
              | CENTRAL LEGISLATIVA E PARLAMENTAR
          li.add-color3
            a.link-slyes(href="#") 
              img(src="img/sidebar-intranet/ferramentas.svg" alt="FERRAMENTAS")
              |FERRAMENTAS
        ul.content-apps
          li
            a.link-styles--svg(href="#" title="BASF")
              img(src="img/sidebar-intranet/basf.svg" alt="BASF")
          li
            a.link-styles--svg(href="#" title="Ergon")
              img(src="img/sidebar-intranet/ergon.svg" alt="Ergon")
          li
            a.link-styles--svg(href="#" title="ForPonto")
              img(src="img/sidebar-intranet/forponto.svg" alt="ForPonto")
          li
            a.link-styles--svg(href="#" title="SIGAD")
              img(src="img/sidebar-intranet/sigad.svg" alt="SIGAD")
        ul.content-apps--noicons
          li
            a.link-slyes(href="#" alt="SPALM") SPALM 
          li
            a.link-slyes(href="#" alt="WEBMAIL") WEBMAIL
          li
            a.link-slyes(href="#" alt="NADM") NADM
          li
            a.link-slyes(href="#" alt="GALILEU") GALILEU
          li
            a.link-slyes(href="#" alt="ARQUIMEDES 2.0") ARQUIMEDES 2.0
          li
            a.link-slyes(href="#" alt="PORTAL DO GESTOR") PORTAL DO GESTOR
          li
            a.link-slyes(href="#" alt="CAPACITADA") CAPACITADA
          li
            a.link-slyes(href="#" alt="ERGON PRODUÇÃO") ERGON PRODUÇÃO
          li
            a.link-slyes(href="#" alt="SISTEMA GEP") SISTEMA GEP
          li
            a.link-slyes(href="#" alt="GESCON") GESCON
          li
            a.link-slyes(href="#" alt="GESTÃO DE AQUISIÇÃO") GESTÃO DE AQUISIÇÃO
          li
            a.link-slyes(href="#" alt="PLANOR") PLANOR
          li
            a.link-slyes(href="#" alt="SAES") SAES
          li
            a.link-slyes(href="#" alt="SERVIÇOS GERAIS") SERVIÇOS GERAIS
          li
            a.link-slyes(href="#" alt="SERVIÇOS POSTAIS") SERVIÇOS POSTAIS
          li
            a.link-slyes(href="#" alt="SUPRI") SUPRI

      .content-menu--styled
        p.content-menu--title 
          img(src="img/sidebar-intranet/interessantes.svg" alt="SERVIÇOS")
          | SERVIÇOS
        ul.content-list
          li.style-color1
            a.link-slyes(href="#") 
              img(src="img/sidebar-intranet/cardapios.svg" alt="Cardápios")
              | Cardápios
          li.style-color2
            a.link-slyes(href="#") 
              img(src="img/sidebar-intranet/aniversariantes.svg" alt="Aniversários")
              | Aniversários
          li.style-color1
            a.link-slyes(href="#") 
              img(src="img/sidebar-intranet/senado-em-pessoa.svg" alt="Senado em pessoa")
              | Senado em Pessoa
          li.style-color2
            a.link-slyes(href="#") 
              img(src="img/sidebar-intranet/talentos-oportunidade.svg" alt="talentos e Oportunidades")
              | Talentos e Oportunidades
          li.style-color1
            a.link-slyes(href="#") 
              img(src="img/sidebar-intranet/pagamentos-e-feriados.svg" alt="Pagamentos e Feriados")
              | Pagamentos e Feriados

      .content-menu--styled01
        p.content-menu--title 
          img(src="img/sidebar-intranet/classificados.svg" alt="CLASSIFICADOS")
          | CLASSIFICADOS
        p
          .input-group.fix-content--padding
            input.form-control(type='text', name='SearchableText', autocomplete='off')
            .input-group-btn
              button.btn.btn-default(type='submit') Buscar

        ul.content-apps--noicons
          li
            a.link-slyes(href="#" alt="AUTOMÓVEIS") AUTOMÓVEIS 
          li
            a.link-slyes(href="#" alt="IMÓVEIS - VENDA") IMÓVEIS - VENDA
          li
            a.link-slyes(href="#" alt="IMÓVEIS-ALUGUEL") IMÓVEIS-ALUGUEL
          li
            a.link-slyes(href="#" alt="ELETRÔNICOS") ELETRÔNICOS
          li
            a.link-slyes(href="#" alt="TROCAS") TROCAS
          li
            a.link-slyes(href="#" alt="OUTROS") OUTROS
        .text-center.content--anuncie
          a.link-slyes(href="#")| Anuncie!
