.sidebar-intranet--query.sidebar-intranet.visible-sm.visible-xs.visible-md
  .content-topo.hide
    label(for="toggle-menu"): spam.glyphicon.glyphicon-forward
  .content-menu
    ul.content-links
      li.add-color1.width-query
        a.link-slyes(href="#") 
          img.fix-margin(src="img/sidebar-intranet/central-servicos.svg" alt="CENTRAL DE SERVIÇOS")

      li.add-color2.width-query
        a.link-slyes(href="#") 
          img.fix-margin(src="img/sidebar-intranet/central-legislativa.svg" alt="CENTRAL LEGISLATIVA E PARLAMENTAR")

      li.add-color3.width-query
        a.link-slyes(href="#") 
          img.fix-margin(src="img/sidebar-intranet/ferramentas.svg" alt="FERRAMENTAS")

      li.add-color4.width-query
        a.link-slyes(href="#") 
          img.fix-margin(src="img/sidebar-intranet/interessantes.svg" alt="SERVIÇOS")

      li.add-color5.width-query
        a.link-slyes(href="#") 
          img.fix-margin(src="img/sidebar-intranet/classificados.svg" alt="CLASSIFICADOS")
      li.add-color6.width-query
        a.link-slyes(href="#") 
          img.fix-margin(src="img/sidebar-intranet/forum.svg" alt="CLASSIFICADOS")
      li.width-query
        a.link-slyes(href="#") 
          label.sidebar-intranet--label(for="toggle-menu"): img(src="img/sidebar-intranet/hamburger.svg" alt="Menu completo")

