.sidebar-intranet--query.sidebar-intranet.visible-sm.visible-xs
  .content-topo.hide
    label(for="toggle-menu"): spam.glyphicon.glyphicon-forward
  .content-menu
    ul.content-links
      li.add-color1
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/central-servicos.svg" alt="CENTRAL DE SERVIÇOS")

      li.add-color2
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/central-legislativa.svg" alt="CENTRAL LEGISLATIVA E PARLAMENTAR")

      li.add-color3
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/ferramentas.svg" alt="FERRAMENTAS")

      li.add-color4
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/interessantes.svg" alt="SERVIÇOS")

      li.add-color5
        a.link-slyes(href="#") 
          img(src="img/sidebar-intranet/classificados.svg" alt="CLASSIFICADOS")
      li
        a.link-slyes(href="#") 
          label(for="toggle-menu"): img(src="img/sidebar-intranet/hamburger.svg" alt="Menu completo")

