////////////// HEADERS STYLES
.noticias-header1 {
  font-size: @header1;
  margin-top: 5px;
  margin-bottom: 15px;
}
.noticias-header2 {
  font-size: @header2;
  margin-top: 5px;
  margin-bottom: 15px;
}
///////////// Ajustes plone public.css
h1,h2,h3,h4,h5,h6 {
  letter-spacing: inherit;
}

@media (min-width:@screen-sm-min) and (max-width:@screen-md-max) {
  .PortalTopo-busca {
    label {
      font-size: 11px;
      line-height: 1.9;
    }
  }
}