////////////// NOTICIA STYLES
.noticias {
  small {
    color: #666;
  }
  img {
    padding-bottom: 10px;
  }
}
.divisor-dotted {
  border-top: 1px dotted #ccc;
  border-bottom: 2px solid #ccc;
  text-align: right;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
////////////// HEADERS STYLES
.noticias-header1 {
  font-size: @header1;
  margin-top: 5px;
  margin-bottom: 15px;
}
.noticias-header2 {
  font-size: @header2;
  margin-top: 5px;
  margin-bottom: 15px;
}